@media screen and (max-width: 375px) {
    .fMain {
        width: 375px;

    }
    .fHero {
        width: 375px;
        height: 476px;

    }
    main .fButton {
        height: 39px;
        font-size: 16px;
        width: 40%;
        border-radius:  4px;

    }
    main .fButton button {
        height: 100%;
        font-size: 16px;
        /* border-radius:  4px 0px 0px 4px; */

    }
    main .fAccounts {
        flex-direction: column;
        font-size: 16px;

    }
    main .fAccount {
        height:200px;
        width: 200px;
        font-size: 14px;
        margin: 20px 0;

    }
    main .fArticle-two {
        flex-direction: column;
        align-items: center;

    }
    main .fArticle-one {
        flex-direction: column-reverse;
        align-items: center;

    }
    main .fArticle {
        font-size: 16px;
        width: 100%;
        
    }
    main .fArticle div {
        font-size: 16px;
        width: 100%;
        text-align: center;
    }
    main .fDivForm img {
        display: none;
    }
    main .fDivForm {
        background: inherit;
        display: block;
        height: auto;
        margin-bottom: 20px;
    }
    main .fDivForm form {
      display: block; 
      width: 100%; 
    }
    main .fDivForm form h2 {
      font-size: 24px;
      font-weight: 500;
    }
    header.fHeader { 
        width: 375px; 
        /* background: brown; */
        padding: 0 2px;
    }
    header.fHeader .fLogo { 
        font-size: 36px;
    }
    header.fHeader .fSearch { 
        background: white;
        /* width: 90%; */
        width: 350px;
        position: absolute;
        top: 80px;
        /* left: 2%; */
        left: 0.6%;
        border-radius: 8px;
        
    }
    header.fHeader .fSearch input { 
        width: 80%;     
    }
    header.fHeader .fSearchButton { 
        padding: -52px 0;
        padding-left: 10px;
        margin: 0;
        background: inherit;
        
    }
    .fMain img {
        margin-bottom: 20px;
        margin-top: 20px;
    }
    footer.fFooter {
        width: 375px;
        height: 373px;
        display: block;
        padding: 16px;
    }
    footer.fFooter>div {
        width: 100%;
        margin-bottom: 40px;
        
    }
    footer.fFooter .fLogo {
        font-size: 48px;
    }
    

}