@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --bgGray: #F7F7F7;
  --fontPoppins: Poppins,Helvetica,Sans-serif;
  --bgWhite: #FFF;
  --fontGray: #484848;
  --fontGrayW: #AAA;
  --bgBlue: #0085FF;
  --white: #FFF;
  --bdGreen: green;
  --error: #FF3131;
  --hoverBlue: #59AFFF;
  --darkBlue: #00284C;

}
* {
  box-sizing: border-box;
  font-family: var(--fontPoppins);
  /* border: 1px red solid; */
}
html {
  font-size: 16px;
}

body {
  background-color: var(--bgGray);
  /* background-color: red; */
  font-family: var(--fontPoppins);
  line-height: 22px;
  font-size: 1rem;
  color: var(--fontGray);
  /* background-color: red; */
}
h1 {
  font-family: Poppins,Helvetica,Sans-serif ;
  font-size: 3rem;
  font-weight: 600;
  color: var(--fontGray);
}
a {
  /* color: inherit; */
  text-decoration: none;
}
p {
  color: var(--fontGray);
  letter-spacing: 0.03rem;
}
button {
  border: none;
}
input[type=submit]:hover {
  cursor: pointer;
}
form input:focus {
  border: none;
  outline: 0px;
}